/*
@font-face
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		src url('fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?iefix')
		src url('fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?#iefix') format('embedded-opentype'), url('fonts/e80a3257-e0b2-4f7c-b4e8-0167c9adb7c0.woff') format('woff'), url('fonts/5426d3ca-532d-4e71-a700-0a22917df569.ttf') format('truetype'), url('fonts/67fb5232-0944-4965-8594-ed2972b84950.svg#67fb5232-0944-4965-8594-ed2972b84950') format('svg')

@font-face
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		src url('fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?iefix')
		src url('fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix') format('embedded-opentype'), url('fonts/2a65cbfc-5071-4b4d-bfc2-e052bb091ee2.woff') format('woff'), url('fonts/812f781d-aa66-47a1-b6a2-7941effc1527.ttf') format('truetype'), url('fonts/2a371030-ff67-40ac-8307-082c1fccf151.svg#2a371030-ff67-40ac-8307-082c1fccf151') format('svg')
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
@viewport {
		orientation: portrait;
}
body { 
	line-height: 1;
	color: black;
	background: white;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a img {
	border: none;
}
body {
	width: 100%;
	*zoom: 1;
}
body:before,
body:after {
	content: "";
	display: table;
}
body:after {
	clear: both;
}
html,
body {
	width: 100%;
	min-width: 320px;
	-webkit-text-size-adjust: none;
	height: 100%;
}
/*
	set vars
*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
a {
	color: #fff;
	text-decoration: none;
}
p {
	margin: 10px 0;
	line-height: 20px;
}
.center {
	text-align: center !important;
}

#container {
	height: 100%;
	width: 100%;
	margin-top: 20px;
}

footer{
    height: 10px;
}

#header .title {
	background: url("/styles/images/logo-food-inc.png") no-repeat center top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	width: 40%;
	margin: 5px auto 0px auto;
	height: 20px;
}

#header {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 10px;
	margin-bottom: 15px;
}
#footer {
	margin: 20px 20px 0 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	background: transparent;
	font-size: 18px;
	text-transform: uppercase;
}
#footer a {
	display: block;
	width: 240px;
	height: 180px;
	margin: 0 auto;
}
#footer a span {
	display: none;
}
#loading {
	display: none;
	height: 200%;
	position: fixed;
	left: -50%;
	top: -50%;
	width: 200%;
	z-index: 3;
	background: #01274b url("images/loading-bottle.gif") no-repeat center center;
	opacity: 0.83;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=83)";
	filter: alpha(opacity=83);
}
#loading span {
	display: table-cell;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding-top: 88px;
	text-transform: uppercase;
}

body.loading {
	overflow: hidden;
}
body.loading #loading {
	display: table;
}
.block {
	color: #000;
	background: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 15px;
}
.block .block {
	margin: 0;
}
.block .block-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 15px 10px 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
.block .holder {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.block .wrapper {
	padding: 10px;
}
.block .half-holder {
	display: inline-block;
	width: 50%;
}
.block.button {
	padding: 10px 20px 15px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.block#media {
	display: none;
}
.block#product {
	display: none;
}
.block#shared-reward {
	display: none;
}
.block#share-message {
	display: none;
}

#share-message-header {
	font-size: 12px;
}

.block#checkin {
	display: none;
}
.block#share {
	display: none;
}
.block#share-facebook {
	display: none;
}
.block#thanks {
	display: none;
	background: transparent center 60px !important;
	padding-bottom: 30px;
}
.block#signin {
	display: none;
}
.block#receive {
	display: none;
}
.block#reaction {
	display: none;
}
.block#reaction.excess {
	/*margin-bottom: 130px;*/
	margin-bottom: 80px;
	height: 200px;
}
.block#reaction.excess #player-reaction {
	margin-bottom: -130px;
	margin-top: 10px;
}
#share-success,#share-error {
	display: none;
}
#scan-not-recognized, #scan-not-promoted {
	display: none;
    padding: 0px 30px;
}
#geolocation-error {
	display: none;
}
#desktop-error {
	display: none;
}
#incorrect-fb-user{
	display: none;
}
.big-icon {
	text-align: center;
	font-size: 64px;	
	margin: 40px 0 0 0; padding: 0;
}
#get-location-link {
	font-size: 24px;
	display: block;
	margin-top: 30px;
}
.share-title, .scan-result-title {
	text-align: center;
	font-size: 21px;
	padding: 30px;
	line-height: 28px;
}
.scan-result-subtitle {
	
	text-align: center;
	font-size: 14px;
    padding: 10px 0px 0px;
	line-height: 21px;
}
.scan-result-title {
	text-align: center;
	font-size: 21px;
    padding: 10px 0px;
	line-height: 28px;
}
.share-text {
	text-align: center;
	font-size: 12px;
	padding: 10px;
}
.scan-result-text {
	text-align: center;
	font-size: 12px;
    margin-bottom: 20px;
	background: white;
	color: black;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
}
.scan-result-text span {
	display: block;
	padding: 5px 0 5px 0;
}
.fb-button {
	display: block;
	width: auto;
	height: 49px;
	background: #303342;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	line-height: 49px;
	margin: 10px 10px 5px;
	position: relative;
	font-weight: 100;
	font-size: 22px;
}
.fb-button.fb {
	background: #325190;
}
.block.button .fb-button {
	width: auto;
	margin: 0;
	border: none;
	text-transform: none;
}
.camera-button {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}
.camera-button.photo {
	background: url("images/camera-icon.png");
}
.camera-button.video {
	background: url("images/video-camera-icon.png");
}
.camera-button span {
	display: none;
}
.text,
.checkin-text {
	font-size: 22px;
	line-height: 32px;
	margin: 10px;
	text-align: center;
}
.text.huge,
.checkin-text.huge {
	font-size: 48px;
	line-height: 56px;
}
.text.small,
.checkin-text.small {
	font-size: 18px;
	line-height: 24px;
}
.checkin-text {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.checkin-text span {
	font-size: 22px;
}

.block .text {
	border-radius: 4px;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	text-align: center;
}
.block.button .text {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 14px;
	text-align: center;
}

#player,
#player-shared,
#message-out,
#player-product,
#player-reaction,
#share-message {
	text-align: center;
}
#player img,
#player-shared img,
#message-out img,
#player-product img,
#player-reaction img,
#share-message img {
	width: 100%; 
	max-width: 100px;
}
.discount {
	position: relative;
	margin: 30px auto;
	width: 100px;
	height: 70px;
}
.discount span.sup {
	position: absolute;
	left: 0;
	top: 0;
}
.discount span.sub {
	position: absolute;
	left: 56px;
	top: 38px;
}
.discount span.big {
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 75px;
}

.friend-face {
	-webkit-appearance: none;
	height: 50px;
	width: 50px;
	border-radius: 35px;
	border: 4px solid white;
	-webkit-filter: blur(2px);	
	opacity: 0.75;
}

.friend-face:checked {
	border: 4px solid #3bcc47;
	-webkit-filter: blur(0px);
	opacity: 1;
}

#friends {
	max-height: 220px;
	overflow: auto;
	margin-bottom: 10px;
}
#friends .friendRow {
	margin-bottom: 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 25%;
	float: left;
	text-align: center;
    min-height: 105px;
}

#friends .friendRow p {

	color: white;
	margin: 0;
    font-size: 11px;
    padding: 0px 5px 5px;
    line-height: 14px;
}

#friends .friendRow.selected {
	/*
	background: #fff;
	color: #e74311;
	*/
}
#friends .friendRow img,
#friends .friendRow label,
#friends .friendRow span {
	vertical-align: middle;
	line-height: 50px;
}
#friends .friendRow img {
	margin-right: 10px;
	-webkit-border-radius: 4px;
	border-radius: 25px;
}
#friends .friendRow label {
	cursor: pointer;
	font-size: 18px;
}
#friends .friendRow span {
	float: right;
}

.search{
    text-align: left;
    color: white;
    margin-bottom: 10px;
    padding: 0px 5px;
}
.search input{
    width: 88%;
    border: none;
    background-color: rgba(255,255,255,0.15);
    padding: 6px 10px;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: inherit;
}
.search .fa-search{
    float: right;
    position: relative;
    top: 8px;
}
*::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
    font-weight: 100;
}
*:-moz-placeholder {
    color: rgba(255,255,255,0.6);
    font-weight: 100;
}
*:-ms-input-placeholder { /* IE10+ */
    color: rgba(255,255,255,0.6);
    font-weight: 100;
}
*::-webkit-search-cancel-button {
    color: white;
    font-weight: 100;
}
*:-moz-search-cancel-button {
    color: white;
    font-weight: 100;
}
*:-ms-search-cancel-button { /* IE10+ */
    color: white;
    font-weight: 100;
}
textarea#message-in {
	width: 90%;
	max-width: 400px;
	height: 50px;
	font-size:12px;
	margin: 20px auto 10px auto;
	display: block;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.fileInput {
	visibility: hidden;
	float: left;
}
#progressBar {
	display: none;
	margin: 10px auto;
	height: 6px;
	max-width: 360px;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #333;
}
#progressBar #progressDone {
	width: 0;
	height: 100%;
	background: #f9bd64;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#video {
	margin: 0 auto;
}
#video_logo {
	display: none;
}
#scan-block {
	display: none;
}
#scan-button-text, #share-text {
	font-size: 12px;
	text-transform: uppercase;
}

#share-text {
	font-weight: bold;
	font-size: 11px;
}

#header-reaction {
	margin-bottom: 10px;
	font-size: 12px;
}
#product-text,
#footer-reaction {
	margin-bottom: 0;
	font-size: 12px;
}
#media-text,
#footer-reaction {
	padding-bottom: 0;
}
#footer-reaction {
	padding-bottom: 5px;	
}
#checkin-button {
	font-size: 20px;
}
#media-text {
	font-size: 12px;
	margin-top: 8px;
	padding-bottom: 5px;	
}
#checkin-text {
	margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}

/* HOME */

#message {

	display: none;
	text-align: center;
	background: white;
	color: black;
	margin: auto;
	width: 85%;
	padding: 4px 4px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 18px;

}

#home {
	display: none;
}

#home-scan-image {
	text-align:right; 
	height: 250px;
}

#home-scan-image img {
	min-height:200px;
	width: 100%;
    position: relative;
    bottom: 0px; right:0px;
}

.tap-to-scan {

	position: fixed;
	bottom: 0;
	background: #e91e26;
	width: 100%;
	text-align: center;
	opacity: 0.85;

}

#food-inc-logo {

	text-align: center;
	margin-top: 15px;

}

#food-inc-logo img {

	width: 60%;

}

#select-scanning-method {
	font-size: 14px;
	text-align: center;
	padding: 10px 0px 0px;
}

#home-menu li {
    display: table-cell;
	padding: 5px;
	width: 33.3%;
	font-size: 12px;
	line-height: 15px;
    border: 2px solid white;
    margin-bottom: 20px;
}

#home-menu li.active{
    background-color: white;
}

#home-menu li:first-child {
	border-radius: 5px 0px 0px 5px;
    border-right: none;
}

#home-menu li:last-child {
	border-radius: 0px 5px 5px 0px;
    border-left: none;
}

#home-menu {
	text-align: center;
	color: #0f161f;
    display: table;
    width: 90%;
    margin: 0 auto;
}

.rewardimage, #share-message-pic {
	max-width: 200px !important;
	width: 100%;
}

#shared-message {
	
	margin-bottom: 10px;
	
}

#reward-header {
	padding: 10px 5px;
}

.scan-type-container {
	width: 33.3%;
	float: left;
	display: none;
}

.scan-type-container i {
	font-size: 32px;
}

#cancelTapToScan {
	
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	
}
.try-again {
	display: block;
	background: white;
	color: black;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 21px;
	margin-bottom: 20px;
}

#promoted-products {
	
	background: white;
	text-align: center;
    margin-bottom: 20px;
	border-radius: 5px;
	
}

#promoted-products img {
	
	width: 75px;
	padding: 20px;
	
}

/* SWIPE */

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe .swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe .swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}
.swipe-indicator {
	margin: 8px 0;
	text-align: center;
}
.swipe-indicator .pic-close,
.swipe-indicator .pic-open {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 5px;
}
.swipe-indicator .pic-close {
	background: url("images/slideshow-active.png") center no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}
.swipe-indicator .pic-open {
	background: url("images/slideshow-inactive.png") center no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

/* SODA */

body.soda-drink {
	background:url(images/background-scanthng.jpg) no-repeat; background-position:top center;
	color: #fff;
}

body.soda-drink #home-menu li:not(.active) {
background: #faaf4c;
color: white;
}

body.soda-drink #food-inc-logo {
	display: none;
}


body.soda-drink .block .text {
	color: #303342;
	
}

body.soda-drink .block .text.inverted {
	color: #fff;
	background: #A82626;
}

body.soda-drink .block.button {
	background: white;
}

body.soda-drink .block.button .text {
	color: red;
}

body.soda-drink #footer-reaction {
	background: white;
	margin-top: 10px;
	color: red;
}

body.soda-drink #header .title {
	background: url("images/logo.png") no-repeat center top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 65px;
}

#verizon-reward {
	
	margin: 15px 15px 0 15px;
	background: white;
	border-radius: 5px;
	padding: 15px 15px 1px 15px;
	color: red;
	text-align: center;
	display: none;
	
}

#verizon-prize {
	
	background: red;
	color: white;
	border-radius: 5px;
	margin: 0 10px;	
	height: 100px;	
}

#verizon-prize-title {
	
	font-size: 44px;
	padding-top: 25px;
	padding-bottom: 8px;	
	
}

#verizon-prize-description {
	margin: 15px;
}

/* SNACK */

body.savoury-snack {
	background: #00aeef;
	color: #fff;
}

body.savoury-snack #home-menu li:not(.active) {
	background: #00b0f0;
	color: white;
}

body.savoury-snack #food-inc-logo {
	display: none;
}

body.savoury-snack .block .text {
	background: #009fd9;
	color: #fff;
}

body.savoury-snack .block.button {
	background: #009fd9;
}

body.savoury-snack .block.button .text {
	color: #fff;
} 

body.savoury-snack .block .text.inverted {
	color: #fff;
	background: #009fd9;	
}

body.savoury-snack #footer-reaction {
	background: #009fd9;
	margin-top: 10px;
	color: white;
}

body.savoury-snack #header .title {
	background: url("images/logo-savoury.png") no-repeat center top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 90px;
}

body.savoury-snack.retailer #header .title {
	background: url("images/logo-savoury-snack-retailer.png") no-repeat center top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 90px;
}
