<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;" src="images/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Scan</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<div class="rows">

    <div class="col-md-12">
        <!--<iframe width="350" height="260" src="//www.youtube.com/embed/yRqUTA6AegA?rel=0" frameborder="0" allowfullscreen></iframe>    </div>-->
        <img  class="img-responsive" ng-src="{{imageUrl}}" />
    </div>

    <!--<div class="rows">-->

        <!--<div class="col-md-12">-->
            <!--<div class="jumbotron">-->
                <!--<h1 class="h1">{{message}}</h1>-->
                <!--<p>-->
                <!--<h4 class="h4">-->
                    <!--Diet Coke Visits: <span class="badge alert-success"><h4 class="h4">{{visits}}</h4></span>-->
                <!--</h4>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>