<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;" src="images/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#/classic/UAq3c5P2sVKwfKMq7KCAggbs">Classic</a></li>-->
            <!--<li class="active"><a href="#/diet/UAKPF6PdPBKadHTSASChGkwp">Diet</a></li>-->
            <!--<li class="active"><a href="#/zero/UAKPF6PdPBKadHTSASChGkwp">Zero</a></li>-->
            <!--<li class="active" data-ng-click="resetVisits()"><a href="#/" >Reset Visits({{visits}})</a></li>-->
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="rows">

    <div class="col-md-12">
        <h2><b>Products.</b></h2>
        <br>
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#/classic/UebaTgTTsBKRh8fnTUCwCpEt">
                    <img class="media-object img-rounded" src="images/classic.jpg" width="100" height="100" alt="...">
                </a>
                <div class="media-body">
                    <h1 class="media-heading">Classic</h1>
                    <h2><i class="fa fa-camera pull-right" data-ng-click="redirect('classic')"></i></h2>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#/diet/UVxaThwWse5RaFk6kh4cctgb">
                    <img class="media-object img-rounded" src="images/diet.jpg" width="100" height="100" alt="...">
                </a>
                <div class="media-body">
                    <h1 class="media-heading">Diet Coke</h1>
                    <h2><i class="fa fa-camera pull-right" data-ng-click="redirect('diet')"></i></h2>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#/zero/UBxaThxesepaYPW4cUfwCNce">
                    <img class="media-object img-rounded" src="images/zero.jpg" width="100" height="100" alt="...">
                </a>
                <div class="media-body">
                    <h1 class="media-heading">Coke Zero</h1>
                    <h2><i class="fa fa-camera pull-right" data-ng-click="redirect('zero')"></i></h2>
                </div>
            </li>
        </ul>
    </div>
</div>