<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;" src="images/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="rows">

    <div class="col-md-12">
        <h2><b>Available Products</b></h2>
        <br>
        <ul class="media-list" data-ng-repeat="product in all.products">
            <li class="media">
                <a class="pull-left" href="#/unrecognised">
                    <img class="media-object img-rounded" src="{{product.photos[0]}}" width="100" height="100" alt="...">
                </a>
                <div class="media-body">
                    <h1 class="media-heading">{{product.fn}}</h1>
                </div>
            </li>
        </ul>
    </div>
</div>